body {
  background: #cc99ff;
  color: #333333;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#app {
  max-width: 450px;
  width: 90%;
  background: #fff;
  margin: 5% auto;
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 1.5rem;
}

#todo-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#todo-subtitle {
  text-align: center;
  font-size: 0.85rem;
  position: relative;
  width: 100%;
  color: #7a7a7a;
}

#todo-input {
  height: 1.5rem;
  min-width: 80%;
}
